


footer{
    width: 100%;
    padding-top:40px;
    padding-left: 20px;
    background:#244169;
    margin: auto;


}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin:auto;
    padding: auto;



}

.table{
    margin: 60px;
}

.container1{
    display:flex;
}
.container1 .colunm1{
    margin-left:0px;
    padding: auto;

}
.container1 .colunm2 #imagen{
    margin-right: auto;
}
.container1 .colunm2{
    text-align: right;
}

.container-body{
    display:flex;
    justify-content: space-between;

    color: silver;
}
  .colunm1{
    max-width: 400px;
    margin: auto;
    margin-right:0px;
    padding: auto;
margin: auto;



}
.colunm1 h5{

    font-size: 20px;
}

.colunm1 p{
    color:white;
    margin-top: 80px;
    margin-top:20px;
}
.colunm1{
    margin-left:0px;
    padding: auto;
margin: auto;
}
.colunm2{
    margin-left:0px;
    padding: auto;
margin: auto;
}
.colunm2 h5{
    font-size:20px;
    margin-top: 0px;
}
.colunm2 .row{
    margin-top: 10px;
    color:white;
}

.row{
    margin-top: 20px;
    display:flex;
}

.row img{
    width: 36px;
    height: 36px;
}
.colunm3{
    padding: auto;
    margin: auto;
    max-width: 400px;

}
.row label{
    margin-top: 10px;
    margin-left: 20px;
}
.colunm3 h5{
    font-size:22px ;


}
.row2{
margin-top: 20px;
display: flex;
color:white;
}
.row2 img{
    width: 36px;
    height: 36px;
}
.row2 label{
    margin-left: 20px;
    max-width: 150px;
}

.container-footer{
    width: 100%;
   color: white;
    background:#244169;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.copyright a{
    text-decoration:none;
    color:white;
    font-weight: bold;
}
.information a{
    text-decoration: none;
    color:white
}
select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=email]{width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;}
